@charset "utf-8";

$background-color: #333333;
$border-color: #444444;
$content-background-color: #666666;
$content-opacity: 0.9;
$text-color: #ffffff;
$link-color: #ffff00;
$visited-link-color: #ffcc00;
$border-width: 30px;

$lg-track-size: 200px;
$md-track-size: 21vw;
$sm-track-size: 26.5vw;

body {
	background-color: $background-color;
	position: relative;
	margin: 0;
	color: $text-color;
	font-size: 14px;
	font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
	background-image: url("../images/bg.png");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	overflow-y: scroll;
}
body.blackout {
	background-image: none;
}
body.blur {
	background-image: url("../images/bg-blur.jpg");
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	body {
		overflow: visible;
	}
}

a {
	color: $link-color;
	outline: none;
}
a:visited {
	color: $visited-link-color;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
#outer {
	width: 960px;
	overflow: hidden;
	margin:0 auto;
}
#wrapper {
	border: solid 0 $border-color;
	border-width: 0 $border-width;
	opacity: $content-opacity;
	filter: alpha(opacity=$content-opacity*100);
}
#container {
	background-color: $content-background-color;
}

#main {
	margin: 1em 40px;
	overflow: visible;
	clear: both;
}

p {
	margin: 1em 0;
}

/* clearfix */
.clearfix:after {
	content:" ";
	display:block;
	clear:both;
}

#logo {
	background-color: $border-color;
	padding: 15px 0;
	z-index: 10;

	h1 {
		float: left;
		height: 50px;
		margin: 0;
		line-height: 50px;
		font-size: 36px;
	}
	h1 a {
		display: block;
		background-image: url("../images/logo48.png");
		background-repeat: no-repeat;
		background-position: left center;
		padding-left: 70px;
		text-decoration: none;
	}
	p {
		float: left;
		margin: 0;
		padding-top: 5px;
		font-size: 24px;
		line-height: 50px;
		font-weight: bold;
	}
	p:before {
		content: " : ";
		margin: 0 0.5em 0 0.8em;
	}
}
header nav {
	float: right;
	width: 240px;
	position: relative;
	z-index: 1;

	ul {
		position: absolute;
		list-style-type: none;
		width: 250px;
		height: 50px;
		right: 0;

		/* background as #444444, opacity 0.7 */
		background: rgba(68, 68, 68, 0.7);
		filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#80444444, endcolorstr=#80444444, gradienttype=0); /* rgba to IE */

		margin-top: -80px;	/* header height */
		text-align: center;

		border-bottom-left-radius: 10px;
		-webkit-border-bottom-left-radius: 10px; /* Chrome, Safari */
		-moz-border-radius-bottomleft: 10px; /* Firefox */
		/* behavior: url(ie-css3.htc); IE...why does not work?  http://fetchak.com/ie-css3/ */
	}
	> ul > li {
		display: inline-block;
		margin: 0 3px;
		line-height: 30px;
	}
	a {
		display: inline-block;
		padding: 10px 0;
		position: relative;
	}
	li.current {
		font-weight: bold;
		padding-top: 10px;
	}
	li.disabled > a {
		text-decoration: line-through;
		cursor: default;
	}
	li.current > a {
		padding: 0 !important;
		line-height: 1em;
		text-decoration: none;
		cursor: default;
		color: #ffffff;
		top: -10px;
	}
}
#nav-music ol {
	display: none;
}

footer {
	padding: 10px;
	border-top: dotted 1px #cccccc;
	text-align: right;
	line-height: 20px;
}

#page-top #right-content iframe {
	display: none;
}


#main-header {
	margin-bottom: 20px;

	h2 {
		float: left;
		font-size: 24px;
	}
	p:before,
	p:after {
		content: " ─ ";
		margin: 0 1em;
	}
	p {
		margin: 0;
		padding-top: 2px;
		line-height: 24px;
		float: left;
		font-weight: bold;
	}
}

#left-content {
	float: left;
	width: 550px;
}
#right-content {
	float: right;
	width: 250px;
	height: 400px;
}

#page-music {
	#left-content {
		float: left;
		width: 250px;
		height: 400px;
	}
	#right-content {
		float: right;
		width: 500px;
	}
}

#whatsnew {
	dt {
		clear: both;
		float: left;
		width: 100px;
		margin-bottom: 10px;
	}
	dd {
		float: left;
		width: 450px;
		margin-bottom: 10px;
	}
}

.about h3 {
	font-size: 18px;
	margin: 1.5em 0 1em;
	margin-left: -1em;
}
.category h3 {
	font-size: 18px;
	margin: 1em 0;
	padding-top: 10px;
}

.about {
	margin-left: 20px;
	margin-bottom: 4em;

	dt {
		clear: both;
		float: left;
		width: 80px;
		margin-bottom: 10px;
	}
	dd {
		float: left;
		width: 400px;
		margin-bottom: 10px;
	}
}

.about h4,
.track h4 {
	margin: 0.5em 0;
}

#page-music {
	#track-list {
		float: right;
		width: 600px;
		position: relative;
	}
	#index {
		float: left;
		width: 200px;

		ol {
			list-style-type: square;
			margin-left: 1.5em;
		}
		li {
			margin: 0.3em 0;
		}
	}
}

ul.track-detail {
	list-style-type: none;
	font-size: 85%;

	li {
		display: inline-block;
		margin: 3px 12px;
	}
	li.enviroment {
	}
	li.genre:before {
		content: "Genre: ";
	}
	li.bpm:before {
		content: "BPM: ";
	}
	li.key:before {
		content: "Key: ";
	}
}

.category-container {
	display: -ms-flexbox;  /* IE10 */
	display: -webkit-box;  /* Android4.3以下、Safari3.1〜6.0 */
	display: -webkit-flex; /* Safari6.1以降 */
	display: -moz-box;     /*Firefox21*/
	display: flex;

	-ms-flex-wrap    : wrap; /*IE10*/
	-webkit-flex-wrap: wrap; /* Safari6.1以降 */
	-moz-flex-wrap   : wrap; /*Firefox21*/
	flex-wrap        : wrap;

	-ms-flex-line-pack   : flex-start; /*IE10*/
	-webkit-align-content: flex-start; /* Safari6.1以降 */
	-moz-box-align       : start;  /*Firefox21*/
	align-content        : flex-start;

	-webkit-align-items: flex-start;
	-ms-align-items    : flex-start;  /* IE10 */
	align-items        : flex-start;

	position: relative;
	color: #ffffff;
}

.track {
	position: relative;
	width: $lg-track-size;
	height: $lg-track-size;
	margin: 0 !important;
	padding: 0 !important;
	overflow: visible !important;
	cursor: pointer;

	h4 {
		margin-top: 0;
	}
	img {
		position: relative;
		width: $lg-track-size;
		height: $lg-track-size;
		opacity: 1;
	}
	.content {
		z-index: 10;
	/*	pointer-events: auto;*/
		position: relative;
		left: 0;
		top: -1 * $lg-track-size;
		width: $lg-track-size;
		cursor: default;
	}
	.close {
		position: absolute;
		left: 0;
		top: 0;
		background-image: url(../images/close.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-color: rgba(0, 0, 0, 0.7);
		line-height: 2em;
		padding: 0 5px 0 2.5em;
		cursor: pointer;

		border-bottom-right-radius        : 10px;
		-webkit-border-bottom-right-radius: 10px; /* Chrome, Safari */
		-moz-border-radius-bottomright    : 10px; /* Firefox */
	}
}
.track.active .content {
	position: relative;
	z-index: 10;
}

.track-container {
	width: 200px;
/*	pointer-events: none;*/

	> header {
		position: relative;
		top: 0;
		left: 0;
		opacity: 1;
		display: block;
		width: $lg-track-size;
		height: $lg-track-size;

		a {
			display: block;
			width: $lg-track-size;
			height: $lg-track-size;
			color: #ffffff;
			text-decoration: none;
		}
		h4,
		p {
			position: relative;
			top: -1 * $lg-track-size;
			display: none;
			opacity: 0;
			padding: 5px;
		}
	}
}

.track-container {
	.base:before {
		content: "原曲: ";
	}
	> header .base {
		margin: 10px 0;
		padding: 5px;
		font-size: 80%;
	}
	.base .production:before {
		content: "(";
	}
	.base .production:after {
		content: ")";
	}
}

.track .content-inner {
	opacity: 0;
	display: none;
	position: relative;
	margin-left: 35%;
}

.track .content {
	header {
		margin-bottom: 0.5em;

		h4 {
			display: inline;
		}
		.base {
			display: inline-block;
			margin: 0.5em;
			padding: 0;
			margin-left: 1em;
			font-size: 80%;
		}
	}

	.iframe-wrapper {
		position: absolute;
		top: $lg-track-size;
		width: $lg-track-size * 3;
		height: $lg-track-size;
		background-color: rgba(255, 255, 255, 0.5);
		color: #000000;
		text-align: center;
	}
	iframe {
		width: 100%;
		height: 100%;
	}
}


.iframe-loading {
	position: absolute;
	width: 80px !important;
	height: 80px !important;
	left: 0px;
	top: -140px;
}

.no-soundcloud {
	margin: 0;
	line-height: $lg-track-size;
}

#popup-background {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0;
	overflow: hidden;
	cursor: pointer;
}

.validator {
	margin-top: 14px;
}

.validator img {
	width: 80px;
	height: 30px;
}

@media screen and (max-width:960px) {
	/* layout */
	html, body {
		width: 100%;
		overflow-x: hidden;
	}
	#outer {
		width: 100%;
	}
	#left-content {
		float: none;
		width: 100%;
		margin-bottom: 1em;
		border-bottom: dotted 1px #cccccc;
		padding-bottom: 1em;
	}
	#right-content {
		float: none;
		width: 100%;
		height: auto;
	}
	/* what's new */
	#whatsnew dt {
		width: 20%;
	}
	#whatsnew dd {
		width: 80%;
	}
	/* about */
	.about dt {
		width: 15%;
	}
	.about dd {
		width: 85%;
	}
	/* track */
	#page-music #track-list {
		width: $md-track-size * 3;
	}
	#page-music #index {
		width: 15vw;
	}
	.track {
		width: $md-track-size;
		height: $md-track-size;

		img {
			width: $md-track-size;
			height: $md-track-size;
		}
		> header {
			width: $md-track-size;
			height: $md-track-size;

			a {
				width: $md-track-size;
				height: $md-track-size;
			}
		}
		.content-inner {
			width: 40vw;
			margin-left: 22vw;
			padding: 0;
		}
	}
	.track-container > header h4,
	.track-container > header p {
		top: -1 * $md-track-size;
	}
	.track-detail li {
		margin: 0 5px;
	}
	.track .content {
		top: -1 * $md-track-size;
		width: $md-track-size * 3;

		header {
			margin-bottom: 0;
		}
		.iframe-wrapper {
			top: $md-track-size;
			width: $md-track-size * 3;
			height: $md-track-size;
		}
	}

	.no-soundcloud {
		margin: 0;
		line-height: $md-track-size;
	}
}

@media screen and (max-width:760px) {
	/* layout */
	#wrapper {
		border-width: 0 4vw;
	}
	#main {
		margin: 85px 4vw 1em;
	}
	/* global navi */
	header nav {
		float: none;
		position: relative;

		> ul {
			width: 93vw;
			display: -ms-flexbox;  /* IE10 */
			display: -webkit-box;  /* Android4.3以下、Safari3.1〜6.0 */
			display: -moz-box;     /*Firefox21*/
			display: -webkit-flex; /* Safari6.1以降 */
			display: flex;

			-webkit-justify-content: space-around;   /* Safari etc. */
			-ms-justify-content    : space-around;   /* IE10        */
			justify-content        : space-around;

			padding: 0;
			top: 80px;
			right: auto;

			border-bottom-left-radius        : 0;
			-webkit-border-bottom-left-radius: 0; /* Chrome, Safari */
			-moz-border-radius-bottomleft    : 0; /* Firefox */
		}
		> ul > li {
			display: block;
			-webkit-flex-grow: 1;
			flex-grow: 1;
			margin: 0;
			padding: 0;
			line-height: 50px;
			text-align: center;
			top: 0;
		}
		a {
			padding: 0;
		}
		li.current {
			padding-top: 0;
		}
		.current > a {
			line-height: 50px !important;
		}
		#nav-music.current > a:after {
			content : "▼"
		}
	}

	/* global music category navi */
	#nav-music ol {
		position: absolute;
		left: 30vw;

		/* background as #444444, opacity 0.7 */
		background: rgba(68, 68, 68, 0.7);

		border-bottom-left-radius        : 10px;
		-webkit-border-bottom-left-radius: 10px; /* Chrome, Safari */
		-moz-border-radius-bottomleft    : 10px; /* Firefox */

		border-bottom-right-radius        : 10px;
		-webkit-border-bottom-right-radius: 10px; /* Chrome, Safari */
		-moz-border-radius-bottomright    : 10px; /* Firefox */
	}
	ol li {
		width: 15em;
		height: 2em;
		padding: 5px;
		line-height: 2em;
		text-align: left;
	}
	#index-wrapper {
		display: none;
	}

	/* track */
	#page-music #track-list {
		float: none;
		width: $sm-track-size * 3;
	}
	#page-music #index {
		float: none;
	}
	.track {
		width: $sm-track-size;
		height: $sm-track-size;

		img {
			width: $sm-track-size;
			height: $sm-track-size;
		}
		.track-container {
			> header {
				width: $sm-track-size;
				height: $sm-track-size;

				a {
					width: $sm-track-size;
					height: $sm-track-size;
				}
				h4,
				p {
					top: $sm-track-size;
				}
			}
		}
		.content-inner {
			margin-left: 27vw;
			width: 53vw;

			> p {
				margin: 0.5vw 0;
				font-size: 80%;
			}
		}
	}
	.track .content {
		top: $sm-track-size;
		width: $sm-track-size * 3;

		.iframe-wrapper {
			top: $sm-track-size;
			width: $sm-track-size * 3;
			height: $sm-track-size;
		}
	}

	.no-soundcloud {
		margin: 0;
		line-height: $sm-track-size;
	}
}

@media screen and (max-width:590px) {
	/* what's new */
	#whatsnew {
		dt {
			float: none;
			width: auto;
		}
		dd {
			float: none;
			width: auto;
			padding-left: 2em;
		}
	}
	/* about */
	.about {
		dt {
			float: none;
			width: auto;
			margin-bottom: 10px;
		}
		dd {
			float: none;
			width: auto;
			margin-left: 1em;
			margin-bottom: 10px;
		}
	}
	/* track */
	.track {
		.content {
			top: -1 * $sm-track-size;
			width: $sm-track-size * 3;

			header .base {
				font-size: 75%;
			}
			.iframe-wrapper {
				top: 53vw;
			}
		}
		.content-inner > p {
			position: absolute;
			left: -1 * $sm-track-size;
			top: $sm-track-size;
			width: $sm-track-size * 3;
		}
		.track-detail {
			width: $sm-track-size * 2;

			li {
				font-size: 75%;
			}
		}
	}
}

.debug {
	position: fixed;
	opacity: 1;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.7);
}
