
					<div id="main" class="clearfix">
						<main id="left-content">
							<script>
								$(function(){
									page.googleanalytics();
								});
							</script>
							<header id="main-header" class="clearfix">
								<h2>What's new</h2>
								<p>更新履歴</p>
							</header>
							<dl id="whatsnew" class="clearfix">
{{foreach from=$whatsnew item=cur}}
								<dt>{{$cur.date|date_format:"%Y/%m/%d"}}</dt>
								<dd>{{$cur.content|escape|nl2br|makelink}}</dd>
{{/foreach}}
							</dl>
						</main><!-- #left-content -->

						<aside id="right-content">
							<div id="timeline">
								<a class="twitter-timeline" data-lang="ja" data-height="500" data-theme="dark"
									href="https://twitter.com/Riina_Kw_m?ref_src=twsrc%5Etfw">Tweets by Riina_Kw_m</a>
							</div>

							<div class="validator">
								<a href="https://validator.w3.org/check?uri=referer" data-rel="external"><img src="{{$root}}/images/html.svg" alt="valid html5" /></a>
								<a href="http://jigsaw.w3.org/css-validator/check/referer" data-rel="external"><img src="{{$root}}/images/css.svg" alt="valid css" /></a>
							</div>
						</aside><!-- #right-content -->
					</div><!-- #main -->
