<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<title>{{$title}}</title>
		<link rel="shortcut icon" href="{{$root}}/favicon/favicon.ico" type="image/vnd.microsoft.icon" />
		<link rel="icon" type="image/svg+xml" sizes="any" href="{{$root}}/favicon/rktv-sq-bk.svg" />
		<!-- for Apple -->
		<link rel="apple-touch-icon" sizes="180x180" href="{{$root}}/favicon/apple-180.png">
		<!-- for Android -->
		<link rel="manifest" href="{{$root}}/manifest.webmanifest" />
		<!-- for Safari -->
		<link rel="mask-icon" sizes="any" href="{{$root}}/favicon/rktv-sq-in.svg" color="#333333">

{{$meta}}

		<meta name="theme-color" content="#333333" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
		<link rel="stylesheet" href="{{$root}}/css/reset.css" />
		<link rel="stylesheet" href="{{$root}}/css/common.css" />
	</head>

	<body id="{{$page_id}}">

		<div id="outer">
			<div id="wrapper">
				<div id="container">

					<header>
						<div id="logo" class="clearfix">
							<h1><a href="{{$root}}/" data-rel="internal">{{#title_en#}}</a></h1>
							<p>{{#title_jp#}}</p>
						</div>
						<nav>
							<ul>
								<li id="nav-top"><a href="{{$root}}/" data-rel="internal">Top</a></li>
								<li id="nav-about"><a href="{{$root}}/about" data-rel="internal">About</a></li>
								<li id="nav-music"><a href="{{$root}}/music" data-rel="internal">Music</a></li>
								<li id="nav-blog"><a href="http://riina-k.net" data-rel="external">Blog</a></li>
								<li id="nav-link" class="disabled"><a href="#">Link</a></li>
							</ul>
						</nav>
					</header>

					<noscript>JavaScriptをオンにしてください</noscript>

{{block name=content}}{{/block}}

					<footer>
						{{#copyright#}}
					</footer>

				</div><!-- #container -->
			</div><!-- #wrapper -->
		</div><!-- #outer -->

		<script src="{{$root}}/js/ua.js"></script>
<!--[if lt IE 9]>
		<script src="{{$root}}/js/html5.js"></script>
		<script src="{{$root}}/js/IE9.js"></script>
<![endif]-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="{{$root}}/js/jquery.easing.js"></script>

		<script src="{{$root}}/js/soundcloud_api.js"></script>
		<script src="{{$root}}/js/common.js"></script>
		<script>
			$(function(){
				page.googleanalytics();
			});
		</script>
	</body>
</html>
