
					<div id="main" class="clearfix">
						<header id="main-header" class="clearfix">
							<h2>Music</h2>
							<p>いままで作ってきた曲の紹介</p>
						</header>

						<main id="track-list">

{{foreach from=$categories item=cur}}
{{if $cur.count > 0}}
							<section class="category" id="category-{{$cur.slug|escape}}">
								<h3>{{$cur.title|escape}}</h3>
								<div class="category-container">
{{foreach from=$cur.tracks item=track}}
									<article class="track" id="track-{{$track.slug|escape}}">
										<div class="track-container">
											<a class="meta" data-preview="{{if $track.preview_url}}{{strip}}
												{{$track.preview_url|escape}}
											{{/strip}}{{/if}}" data-iframe="{{$track.soundcloud_url|escape}}"></a>
											<header>
												<a href="{{$track.detail_url|escape}}">
													<img src="{{$track.image_url|escape}}" alt="" />
													<h4>{{$track.title|escape}}</h4>
{{if $track.base}}
													<p class="base">
														{{$track.base|indent2:14}}
													</p>
{{/if}}
												</a>
											</header>
											<div class="content">
												<div class="content-inner">
													<ul class="track-detail">
														<li class="date">{{$track.date_yyyymm|escape|default:'-'}}</li>
														<li class="enviroment">{{$track.enviroment|escape|nl2br|default:'-'}}</li>
														<li class="genre">{{$track.genre|escape|default:'-'}}</li>
														<li class="bpm">{{$track.bpm|escape|default:'-'}}</li>
														<li class="key">{{$track.track_key|escape|default:'-'}}</li>
													</ul>
													<p>
														{{$track.content|escape|nl2br|indent2:14|makelink}}
													</p>
												</div>
											</div>
										</div>
									</article>
{{/foreach}}
								</div>
							</section>
{{/if}}
{{/foreach}}

						</main>

						<div id="index-wrapper">
							<nav id="index">
								<ol>
{{foreach from=$categories item=cur}}
{{if $cur.count > 0}}
									<li><a href="#category-{{$cur.slug|escape}}">{{$cur.title|escape}}</a></li>
{{/if}}
{{/foreach}}
								</ol>
							</nav>
						</div>

					</div><!-- #main -->
